section {
  max-width: 100vw;
  height: auto;
}

#herothankyou {
  background-image: linear-gradient(360deg, rgb(0,62,62), transparent), url(../images/image02.png);
  background-size: cover;
  background-position: 100% top;
  background-repeat: no-repeat;
  padding: 100px;
  margin: -66px 0 0 0;
  height: 100vh;
}

#herothankyou .container {
  margin: 0 auto;
}

#herothankyou .container h1 {
  color: var(--text-white);
  font-size: 44px;
  font-weight: 400;
  text-align: left;
  width: 90%;
  padding: 200px 0 50px;
  filter: drop-shadow(0 10px 4px rgba(0,0,0, .25));
}
#herothankyou .container p {
  color: var(--text-white);
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  filter: drop-shadow(0 10px 4px rgba(0,0,0, .25));
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 30px;
  background-color: var(--mask-bg-primary);
  color: var(--text-white);
  z-index: 1;
  position: relative;
}